.container {
  .header {
    min-height: 80vh;
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    .textSection {
      width: 50%;
      .title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 2rem;
        line-height: 64px;
      }
      .description {
        font-size: 16px;
        margin-bottom: 2rem;
        line-height: 26px;
      }
      .button {
        border-radius: 20px;
        background-color: #0085ff;
        padding: 10px 40px;
      }
    }
    .banner{
        width: 48%;
        .bannerImage{
        }
    }
  }
  .features{
    background-color: #F7F8FA;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 50px;
    .title{
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 2rem;
        line-height: 64px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .header {
    flex-direction: column;
  }
}
